@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fira+Sans:wght@200;300;400&family=Noto+Serif:wght@300&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,900;1,6..12,800&family=Nunito:wght@800&family=Open+Sans:ital@1&family=Roboto:wght@700&display=swap');

.main-div{
    background-color: rgb(235, 235, 235);
    
    display: flex;
    flex-direction: column;
  
 

}
.page-div{
    background-color: #fff;
   margin: 20px;
    border: 1px solid rgb(198, 193, 193); 
    border-radius: 3px;
    
}
.container-div{
    border: 00.5px solid rgb(198, 193, 193);;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    
}
.button-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.span2{
    font-weight: bold;

}

.button1{
    margin-right: 3px;
   border: none;
   height: 25px;
}
.button3{
    margin-right: 3px;
    border: none;
    margin-left: -15px;
    
    height: 25px;
    border-top-left-radius: 10px;
 }


.text-container{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
    margin-top: 20px;
}
.text-heading{
    color: rgb(38, 178, 238);
  
}
.paragraph{
    text-align: start;
    word-spacing: normal;
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;



}
.table-container{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid rgb(198, 193, 193);
    width: 98%;

}
 
th {
    border-bottom: 1px solid rgb(198, 193, 193);
    border-right: 1px solid rgb(198, 193, 193);
    font-size: 15px;
    font-weight: 500;
    color: rgb(69, 64, 64);;
    height: 40px;
    
    text-align: start;
    padding-left: 10px;
}
.th{
    background-color: rgb(243, 238, 238);
}
.bi-question-circle-fill{
color: rgb(22, 8, 114);
text-align: center;
}

 
td {
    text-align: center;
    border-right: 1px solid rgb(198, 193, 193);
    border-bottom: 1px solid rgb(198, 193, 193);
    color: rgb(83, 85, 87);
    font-size: 14px;
    font-family:Fira Sans;
    height: 30px;
    text-align: start;
    padding-left: 10px;
}
.tr-class{
    background-color: rgb(243, 238, 238);
    height: 40px;
}


.button2{
    height: 25px;
    border: 1px solid blach;
    color:rgb(38, 178, 238) ;
    flex-wrap: wrap;
    overflow:hidden;
}
.anchor{
    color:rgb(38, 178, 238) ;
    text-decoration: none;
}
.dropdown-container{
    display: flex;
    justify-content: flex-end;

    margin-top: 50px;
    margin-bottom: 20px;
 
}
.hh{
    height: 25px;
    width:200px;
    text-align: center;
}
.arr{
    text-align: end;
}
.arrow-span{
    display: flex;
    flex-direction: column;
}
.button3:hover{
    background-color: rgb(38, 178, 238);
    color: #fff;
}
.button1:hover{
    background-color: rgb(38, 178, 238);
    color: #fff;
}